[2015-04-23 07:33] QichaoChen opened #1 "IllegalArgumentException"
when import project to my AS and try to run sample I got error message below:

[code]

[2015-04-23 12:19] ganfra commented on #1
Do you test it on Lollipop device ?
It seems to be a known issue : https://code.google.com/p/android/issues/detail?id=79011

[2015-04-28 07:59] #1 closed

[2015-05-06 06:07] ondroEd opened #2 "Extra space"
There are huge extra spaces above and below of spinner in Android 4.1.1

[2015-05-06 17:30] ganfra commented on #2
With the hint and the error message printed ?

[2015-05-07 05:54] ondroEd commented on #2
Here is how it looks at Genymotion (Google Nexus S 4.1.1 API 16)
![material_spinner_api16](https://cloud.githubusercontent.com/assets/5443140/7509146/2f01a652-f4a6-11e4-94ce-baa58eb6a953.gif)

[2015-05-08 16:24] carmelo-ruota opened #3 "Error using Lollipop"
Great library!
However I receive this error using Android Lollipop:

   java.lang.NullPointerException: Attempt to read from field 'int android.view.ViewGroup$LayoutParams.height' on a null object reference
            at android.widget.TextView.makeNewLayout(TextView.java:6368)
            at android.widget.TextView.onMeasure(TextView.java:6663)
            at android.view.View.measure(View.java:

[2015-05-09 13:36] ganfra commented on #3
Could you send me the code you use ? (your layout xml file and the activity or fragment class tied with it ?)

[2015-05-09 14:58] ganfra commented on #2
Ok, thanks for your issue ! I'll correct it as soon as possible

[2015-05-12 10:11] carmelo-ruota commented on #3
Hi, I tried with another adapter and I saw that the problem wasn't in your Library but in the adapter.
Sorry for my mistake!

[2015-05-12 15:28] rocboronat opened #4 "Issue with the Adapter Type Count when app:ms_hint is set"
If the `app:ms_hint` attribute is set, the app launch this Exception:
`java.lang.IllegalArgumentException: Spinner adapter view type count must be 1`

BTW, in addition, our Adapter overrides the `getViewTypeCount()`(in a way to solve the issue in a desesperated way :·)

Our definition in the Layout:
[code]
The Adapter's great method:
[code]

Thanks for your work!

[2015-05-12 16:17] rocboronat opened #5 "The dimens should be setted from layout.xml and programmatically"
We'll fork the whole project only to set the `floating_label_top_spacing`, `floating_label_bottom_spacing` and `floating_label_inside_spacing`.

It would be great if these attributes could be set at layout.xml in a first stage, or programmatically in a second stage.

Thanks for your work!

[2015-05-12 19:18] ganfra commented on #4
Yes, that's a known issue with adapter on Lollipop ! The correction is coming very soon :)

[2015-05-12 19:18] ganfra commented on #5
Alright, I will add this feature on tomorrow :)

[2015-05-12 23:09] rocboronat commented on #5
Thank you @ganfra !

What about the left and right margin of the label? (actually, that's my issue, I can't align it with other fields, like EditTexts.

[2015-05-12 23:10] rocboronat commented on #4
Thank you @ganfra :+1: :+1: :+1:

[2015-05-13 06:58] LOG-TAG opened #6 "we can lable drawable left for spinner like edittext it?"
I just wanted know this custom Lib allows  drawable left for spinner like edittext ?

[2015-05-13 10:16] rocboronat commented on #5
Wep! Same issue than the dimens, and also with the label: I cannot set the colour of the floatingLabelText. I prefer to add the issue in this issue instead of opening a new one, 'cause it's about the same topic: styling the Widget from layout.xml or a style.xml

Thank you @ganfra !

[2015-05-13 14:02] ganfra commented on #5
Instead of adding margin, you can choose to set floating label align or not with attribute "ms_alignLabels"

For the color, your floatinglabel get the color your set with attribute baseColor ... I don't want to allow changing the color separately from the underline one

[2015-05-13 15:20] rocboronat commented on #5
Great, thanks for your answer, @ganfra !

About your decision about the colors, it's a issue. I'm daltonic (so isn't not a big problem for me, lol!), but design people uses to love that kind of possibilities. In our case, they want the label with one tone of gray, and the line of the spinner with another one. So... wai! (what an issue!)

I totally understand that it's not your work to do it, but p

[2015-05-13 15:50] rocboronat opened #7 "Allow different thickness for normal and error Spinners"
We're creating a huge form using MaterialEditText and MaterialSpinner.

MaterialEditText allows us to have different thickness if an EditText has a normal or an error state. But... MaterialSpinner can't do it.

The first solution I thought were to work with a thickness of 1 in all the cases, but it would be great if MaterialSpinner can differentiate the behaviour. A link to the Android Material gu

[2015-05-13 16:14] #3 closed

[2015-05-13 16:15] ganfra commented on #6
Not yet ... Maybe in a future release

[2015-05-13 16:15] #6 closed

[2015-05-16 14:50] levisaturnino commented on #2
I'm having the same problem. Any solution to this problem?

[2015-05-17 11:21] drindt commented on #2
I'm having the same problem. Just written here to get notified if something changes here. Thank you!

[2015-05-17 11:25] drindt opened #8 "No support for disabled state."
Unfortunately there is no disabled state implemented as suggested in the spec:
http://www.google.com/design/spec/components/text-fields.html#text-fields-single-line-text-field

Thank you for the work.

Maybe it helps to know that:
https://github.com/rengwuxian/MaterialEditText
support this.

[2015-05-17 11:52] drindt opened #9 "Having MaterialSpinner in a scroller it opens by tapping."
I haven't investigated the code, but this behavior is not the proper one. I roughly guess there is a touch event captured in the wrong way.

[2015-05-17 17:56] drindt opened #10 "Design spec seems not properly implemented"
I've compared the appearance to the material design spec. There are some differences in padding and text sizes.
![material_design_compare](https://cloud.githubusercontent.com/assets/1647655/7671403/d20b9dd2-fcce-11e4-9fa3-153e49a3cfff.png)

[2015-05-18 07:48] ganfra commented on #10
For the left padding, it's up to you to choose an adapter with no padding. If you need to align floating label, you can use the "ms_alignLabels" boolean attribute.
The thickness of the line may be change with the "ms_thickness" integer attribute.
For the space between floating label and text, I align it with MaterialEditText ...

[2015-05-18 07:48] ganfra commented on #9
Ok, thanks for this

[2015-05-18 07:49] ganfra commented on #8
I'll add it in the next release

[2015-05-18 09:20] carlesferrer commented on #8
+1

[2015-05-18 09:20] carlesferrer commented on #7
+1

[2015-05-18 09:36] drindt commented on #10
Thank you for your quick reply.
I played with ```ms_thickness``` and i would suggest supporting there "dp". I played with 1 and 2 as thickness but i had not the result which match the spec. Its to thin or to fat. :-)

It would also be nice to have options like the [MaterialEditText](https://github.com/rengwuxian/MaterialEditText) have for finer configuration of colors and behavior at all. Also the

[2015-05-18 09:38] drindt commented on #9
Should i add a video to better understand my weird english? If i can support you here please let me know.

[2015-05-19 11:39] rocboronat commented on #7
Wep! The related PR where I did it :·)

https://github.com/ganfra/MaterialSpinner/pull/11

[2015-05-20 06:53] SangeetaSoni opened #12 "Crashes Application on selection of last item"
Hi @ganfra
When last item is selected in the Spinner with hint, It crahes at the point when I try to get the selected item using
String gender = (String) genderSpinner.getSelectedItem();

saying Array Index out of bounds.

[2015-05-20 12:18] Daan-Hoogland commented on #2
+1, does anyone have a temp solution for this yet?

[2015-05-20 12:25] ganfra commented on #2
I'll update the lib at the end of the week

[2015-05-21 15:04] rocboronat commented on #7
Solved!

[2015-05-21 15:04] #7 closed

[2015-05-21 15:05] rocboronat commented on #4
Solved!

[2015-05-21 15:05] #4 closed

[2015-05-21 15:05] rocboronat commented on #5
Solved!

[2015-05-21 15:05] #5 closed

[2015-05-21 16:26] rocboronat commented on #2
Wep @ganfra I think that I resolved this issue, and it was included in the PR :·D

[2015-05-21 16:49] ganfra commented on #12
Thanks, should be ok now :)

[2015-05-21 16:49] #12 closed

[2015-05-21 16:49] ganfra commented on #2
Fixed on 1.1.0 !

[2015-05-21 16:49] #2 closed

[2015-05-21 16:50] ganfra commented on #8
Added on 1.1.0

[2015-05-21 16:50] #8 closed

[2015-05-22 01:54] diofeher opened #14 "android:entries is not working."
android:entries is not working. It shows only the name at "hint" option.

[2015-05-22 04:22] SangeetaSoni opened #15 "Dropdown Arrow is shown below line when no entries"
Hi @ganfra

The dropdown arrow appears below the line when no entries are present in it. It is shown above the line only when there are entries available.
![device-2015-05-22-093750](https://cloud.githubusercontent.com/assets/6103983/7764049/216d6f12-0068-11e5-8d28-354bf948e4f8.png)
![device-2015-05-22-093923](https://cloud.githubusercontent.com/assets/6103983/7764047/20308742-0068-11e5-86a2-9ac2f

[2015-05-27 09:12] drindt opened #16 "Date selection support?"
Just a question if functionality is planned to support Date/Time selection?
![components_textfields_single1](https://cloud.githubusercontent.com/assets/1647655/7832692/49bb86d2-0461-11e5-8941-456e95693a70.png)

[2015-06-01 08:23] ganfra commented on #16
Not planned yet, maybe in a future release ...

[2015-06-01 08:23] #16 closed

[2015-06-05 06:56] Spiderbezno opened #17 "Icon in spinner like MaterialEditText"
Is it possible put an icon like you can do with MaterialEditText??

[2015-06-05 10:33] Spiderbezno opened #18 "android focusble doesn't work"
This widget can't be ficusable, o doesn't work

[2015-06-17 17:07] ganfra commented on #18
I'll will look into that, thanks

[2015-06-17 17:07] ganfra commented on #15
thanks for this issue, I'll look into it as soon as possible !

[2015-06-17 17:09] ganfra commented on #10
Some of these issues are corrected ! Thanks for this :)

[2015-06-17 17:09] #10 closed

[2015-06-17 17:09] ganfra commented on #9
Should be corrected in the next release ...

[2015-06-18 13:12] ganfra commented on #17
Not yet ... but I encourage you to propose a pull request to add this feature !

[2015-06-20 09:15] azizj1 opened #19 "Hint text padding not aligning to the left"
I made a custom adapter layout in an attempt to left align the selected texts AND the hinted text:

[code]

where spinner_item_without_padding is:

<?xml version="1.0" encoding="utf-8"?>
<TextView xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="wrap_content"
    android:layout_height="wrap_content" android:textSize="16sp" android:textColor="@color/black_text">

[2015-06-23 03:44] vj-1023 commented on #14
same problem.
Only hint displayed

[2015-06-30 04:42] mehdi-salehi opened #20 "getSelectedItem on material spinner"
getSelectedItem on material spinner returns id+1 from cursor adapter.
why?

Cursor cc=(Cursor) w41_spinner.getSelectedItem(); =>12  instead 11

[2015-06-30 17:45] PFittech opened #21 "Hint color"
Can you please add support for set hint color in xml?

[2015-07-01 08:03] ganfra commented on #20
Could you please provide your sample code ? Because I can't reproduce this issue

[2015-07-01 08:07] ganfra commented on #19
I could add this feature to left align ... actually, I don't use the same layout for the hint that the ones provided to the adapter !

[2015-07-06 10:28] rocboronat commented on #9
+1 thanks @ganfra

[2015-07-15 07:54] LOG-TAG commented on #15
is there any ways to disable under line ? thinking of using it on Toolbar to get out of all this spinner bugs !!  http://stackoverflow.com/questions/26755878/how-can-i-fix-the-spinner-style-for-android-4-x-placed-on-top-of-the-toolbar

[2015-07-15 10:11] lion4ik opened #23 "How can I remove first title item on popup?"
Or How can I set custom text color on first title item in popup without setting ths color when popup is closed?

sorry for broken English

[2015-07-22 08:32] mehdi-salehi opened #24 "mapping 2 items from db"
how can i map 2 db item in your spinner like this:
 private static final String[] FROM = {
            PropertyContract.Column.item1,
            PropertyContract.Column.item2
    }; //
    private static final int[] TO = {
            R.id.file_list_row_i1,
            R.id.file_list_row_i2
    };

I try bindView but null pointer raiseddddddddd:(

[2015-07-27 11:58] hardikamal opened #25 "How do i remove the bottom error padding from the spinner"
Hi ganfra,

Is it possible to remove the bottom error area from the spinner as i m not using the .seterror method.Can add something like setErrorEnabled(boolean)

[2015-08-01 22:16] Morgazmo opened #26 "Typo in the XML in your readme.md"
Just looking at the "app:ms_thickness" line. Pretty sure the 2 value needs to be in quotes? Thanks for sharing, haven't fired it up yet, but it looks great!

To get it to build I needed to use "2dp" as the value.

Is it also possible to throw in a functionality similar to that in MaterialEditText, namely:

[code]

I really don't want the FloatingTextLabel to disappear when the first position is se

[2015-08-07 09:20] Wanjau commented on #20
Am late but this is what worked for me

String[] ITEMS = {"Mobile Phones", "Electronics", "Fashion and Beauty", "Vehicles", "Real Estate", "Jobs and Services"
        ,"Hotel and Accomodation","Financial and Insurance","Tours and Travel","Houselhold Appliances","Others"};

        ArrayAdapter<String> adapter = new ArrayAdapter<String>(this, android.R.layout.simple_spinner_item, ITEMS);
         a

[2015-08-10 20:25] dhrushilbadani opened #27 "ListView of MaterialSpinners --> selection getting forgotten"
I'm creating a ListView of MaterialSpinners. If I select something in one spinner, and then scroll down, and go back up, that spinner's selection is lost. How do I make the spinner remember its selection?
Thanks :)

[2015-08-14 04:28] josephmason opened #28 "setSelection is not working"
Materialspinner.setSelection(Index) is not working with this library

[2015-08-14 04:39] roygwsidev commented on #28
hi,
try this
spinner.post(new Runnable() {
            @Override
            public void run() {
           spinner.setSelection(index);
            }
        });

[2015-08-14 04:51] josephmason commented on #28
hi roygwsidev,
this worked for me
thanks

[2015-08-15 08:44] Catherine0728 commented on #9
Error:No such property: GROUP for class: org.gradle.api.publication.maven.internal.deployer.DefaultGroovyMavenDeployer

To pour the project in, and then make this mistake.

[2015-09-03 10:28] ganfra commented on #27
Sorry for the late ! Is it something which works with the normal spinner ???

[2015-09-03 10:36] ganfra commented on #26
Hi ! Yes I'll add this functionality :)

[2015-09-03 10:37] ganfra commented on #25
Hi, yes, could be possible !

[2015-09-04 23:05] dhrushilbadani commented on #27
I am not very sure about that, I fixed it though, by caching the user selections using a HashMap! Thanks ganfra! It's a really slick library otherwise.

[2015-09-06 16:02] alandoni opened #29 "Focus"
Could be possible to add the focus effects of MaterialEditText? Colors of texts and underline color and width changes depending if it is focused or not

[2015-09-07 10:51] ahmadplero opened #30 "Can we remove padding in spinner"
Please tell me how to remove padding withing spinner.

[2015-09-12 05:42] dainhan90 opened #31 "How to change text color?"
I need change label text color of selected iten in spinner.

[2015-09-14 13:13] TheLoyalCruel opened #32 "hint gravity? and typeface?"
how to set the gravity of hint textView to the right?
and typeface is just affect the hint font! how to change the dialog list item too?
thanks...

[2015-09-17 16:06] KrasimirGatevMentorMate opened #33 "Error text is repeated and clipped in single line mode"
![screenshot](https://cloud.githubusercontent.com/assets/12544457/9938586/bab9aed4-5d6e-11e5-98c5-6b2333f7b4c8.png)

I know I can use the multiline option to get around this issues, but this causes the app to crash when setting an error message to a spinner generated in the code.

[2015-09-25 06:45] Gautham commented on #23
A bit late, but for future reference, I think you're referring to the Hint. Disable the hint and you should be fine.

[2015-09-25 08:14] Gautham commented on #20
Hi. Very late to post this but I came into a similar issue myself.
The problem lies in that although the listener is passed the correct index as per the adapter we pass, the AdapterView now has an extra entry for the Hint. Therefore, calling parent.getItemAtSelection() will return an incorrect item unless you use (position + 1) if you use hint.

I'm not sure how you'd ideally fix this but I guess

[2015-09-25 08:34] Gautham opened #34 "Selector y-position too high when Floating Text visible"
When the floating text is displayed after selecting an item, the Selector should ideally be moved a bit down. Currently, it appears way too high up.

[code]

I think you should change dpToPx(8) to be measured from the FloatingText itself.

I am a bit tied up right now else Id have tried to fix it myself and send you a PR :( Anyway, this is a great library otherwise so Thanks for all the hard work!

[2015-09-25 09:04] ganfra commented on #28
Thanks for the answer :)

[2015-09-25 09:04] #28 closed

[2015-09-30 06:43] yljjiava opened #35 "gradle build error"
please upload the gradle.properties file

[2015-10-06 01:18] thundenilla opened #36 "How can i disable the floating hint"
How can i disable the floating hint, but still have the hint for the spinner (editText) look and feel. Thank you

[2015-10-12 09:39] ganfra commented on #36
not really possible right now ... to override this, you could set an empty floating_label text.

[2015-10-12 09:39] #36 closed

[2015-10-12 09:43] thundenilla commented on #36
well i already set it empty, but still. after you done choosing the input or item. it still show up. just in  a blink!

[2015-10-12 10:00] ganfra commented on #34
I don't get it, I've never seen the selector moving in any app ?

[2015-10-12 12:32] ganfra commented on #24
bindView is a method from CursorAdapter not BaseAdapter (the one my adapter inherite)

[2015-10-12 12:32] #24 closed

[2015-10-12 12:58] ganfra commented on #27
Ok nice :)

[2015-10-12 12:58] #27 closed

[2015-10-12 13:01] ganfra commented on #20
Sorry for the late ! Yes it's an error from me, a new release will be out soon to correct some stuff !

[2015-10-12 13:50] ganfra commented on #14
Sorry for the very late answer ... I can't reproduce your error, could you provide me your exact xml ?

[2015-10-12 13:55] ganfra commented on #21
Will be released in the next version, thanks to @matthew-compton

[2015-10-12 13:55] #21 closed

[2015-10-12 13:57] ganfra commented on #35
what about the gradle.properties ?

[2015-10-12 14:31] ganfra commented on #31
Doing that is up to you, providing a custom adapter to the spinner

[2015-10-12 14:31] #31 closed

[2015-10-12 14:31] ganfra commented on #30
Do you mean the floating label and error paddings ?

[2015-10-12 15:32] ganfra commented on #33
Thank's for this issue, it will be fixed in the next release !

[2015-10-12 15:39] ganfra commented on #26
After some thought, I don't see what is bothering you with the floating label ? It's normal it disappears when the hint is selected (not the first item, but the hint). When an item is selected, it appears ... it's the "normal" behavior

[2015-10-12 16:15] ganfra commented on #23
Sorry but I don't understand your needs !

[2015-10-13 05:06] zhenikk commented on #30
I have a similar problem. I guess the author mean the padding of hint.
![1444712703776](https://cloud.githubusercontent.com/assets/9072144/10445883/2545490e-7181-11e5-9252-c972a771c2cb.jpg)

[2015-10-13 09:09] ganfra commented on #30
This is the pre allocated space for the floating label ...

[2015-10-13 10:08] ganfra commented on #25
Actually, you have an xml attribute  'ms_nbErrorLines' , if you put '0', it will remove some space

[2015-10-16 07:02] DoruAdryan opened #37 "Material style"
Regarding material style, IMHO, extending AppCompatSpinner would add more value to this library.
Also, I think it would be better to have the paddings / spacings as described in [here](http://www.google.ro/design/spec/components/text-fields.html#text-fields-floating-labels).
Thanks for your effort in creating this library!

[2015-10-22 17:18] johngamarra opened #38 "Add android:entries"
Add android:entries support for direct xml string-array entries

[2015-10-23 16:34] ganfra commented on #38
Hello, it does work for me, could you please provide me your xml ? and the sdk version you test on

[2015-11-02 14:00] omarics opened #39 "floating label to the right"
We need to align the floating label to the right for Arabic language.

[2015-11-02 14:49] omarics commented on #39
suggested:
1- <attr name="ms_isRtl" format="boolean"/> in attrs.xml
2- app:ms_isRtl="true" in layout file
3- if (isRtl) {
                canvas.drawText(textToDraw, getWidth() - rightLeftSpinnerPadding - textPaint.measureText(textToDraw), startYFloatingLabel, textPaint);
            } else {
                canvas.drawText(textToDraw, startX + rightLeftSpinnerPadding, startYFloatingLabel, textPai

[2015-11-06 18:14] Dvik commented on #21
when i use
app:ms_hintColor= "#FFFFFF"
there's an error during building.

[2015-11-09 06:12] raquezha opened #40 "No resource identifier found for attribute 'ms_enableFloatingLabel'"
Hello can you help me resolve this?

<img width="737" alt="by default 2015-11-09 at 2 09 15 pm" src="https://cloud.githubusercontent.com/assets/9584016/11026965/844f8e94-86eb-11e5-89a9-314bc16eac90.png">

in XML:
[code]

Gradle:
[code]

I'm Using Android Studio 1.5
 compileSdkVersion 23
 buildToolsVersion '23.0.2'

[2015-11-09 17:28] akamud commented on #40
From what I can see, this is not available in version 1.1.0. It is a new feature that has not been released to Gradle yet.

[This is the commit](https://github.com/ganfra/MaterialSpinner/commit/e7419a265b6024c52a31998dfb1e3bc17af374fd) related to this new feature.

[2015-11-09 21:42] akamud opened #41 "Update Gradle package with new features"
Update your Gradle package with all the new features introduced, like Enabling error/floating label.

Are they already considered stable for release?

[2015-11-12 09:35] ganfra commented on #41
Yes, they are stable for release. Update is now occurring

[2015-11-12 09:35] #41 closed

[2015-11-12 09:36] ganfra commented on #40
Yes, sorry about that. The next release will be soon available

[2015-11-12 09:36] #40 closed

[2015-11-12 09:37] ganfra commented on #39
Ok, I'll do this. But if you have time, I encourage you to submit a Pull Request ;)

[2015-11-13 05:10] crestf commented on #30
I also want to modify the padding (especially the hint) because the space is slightly different with original Text Input Layout. Just want to make consistency between components. Is it possible?

[2015-11-20 06:44] arok commented on #30
Just override default styles for spinner items in your application theme.
See the attribute android:spinnerItemStyle

[2015-11-20 16:17] Naharadir opened #42 "Hint appears as an item to choose"
Is it possible tohave, by default, the hint showing up but not being part of the list of items to choose from ?  Like an Edit Text hint .

[2015-11-21 11:51] omarics commented on #39
Ok I will, thank you.

[2015-11-21 16:03] reidlai opened #44 "show selected item in Edit Form"
How can I show value stored in storage in MaterialSpinner when I open form with Edit mode?

[2015-11-30 17:52] kirtich opened #48 "Floating Label Text Size"
Hi Team,

Floating Label Text size is not defined , I have tried it but getting error, I have gone through with your code as well but I didnt get any line related to floating label text size as in MAterialEditText.
 <app:met_floatingLabelTextSize="@dimen/floatinglabel_textSize">

Please guide me if I am wrong.

[2015-12-14 20:23] cody1024d commented on #34
I'm seeing this as well.  Basically, when I have a hint set up, and then select an item, the selector arrow's position gets translated up, where it actually displays ABOVE the selected item, and actually in between the label and the item itself

[2015-12-19 18:35] ravigupta9363 opened #50 "How to set text size?"
I am using this library and I have 2 issues ::
1. I am unable to set text size.
2. Floating heading is taking extra padding as compared to normal floating edittext.

Can you asap? Please

[2015-12-22 13:17] ganfra commented on #42
That's actually not possible indeed. The hint is part of list items to let user reset his choice.

[2015-12-22 13:18] ganfra commented on #50
If you need to change property you should provide your own item layout

[2015-12-30 09:25] Andrew-Quebe opened #51 "Change floating label text size"
This doesn't seem possible...would be nice if it was!

[2016-01-07 07:07] Sushil21 opened #52 "Show Scrollbar visible always"
Hi,
I want to show scrollbar visible always in spinner.in this it auto fade after some time so i want to make is visible always please help me.

thanks

[2016-02-01 12:53] dbacinski opened #53 "Set initial position without calling listener multiple times"
I would like to set initial value to the spinner without calling on selected listener:
[code]

Unfortunately setSelection method is overridden by MaterialSpinner and this method is no longer synchronous. Due to this OnItemSelectedListener is set before selection is done.

[code]

In my opinion selection with post method should be done in separate method called setSelectionPost

[2016-02-01 19:37] dbacinski commented on #53
Actually I can use  spinner.setSelection(position, false); which is not wrapped by post method

[2016-02-01 19:37] #53 closed

[2016-02-02 11:40] naaparai opened #54 "setOnItemClickListener() Error"
I wanted to open activity on item selection. But setOnItemSelectedListener() doesnot work and setOnItemClickListener() throwing error

[2016-02-08 20:33] kodeo commented on #30
It's possible to realign the floating label using either `app:ms_alignLabels="false"` or `<dimen name="right_left_spinner_padding">0dp</dimen>`, but I can't find any way at all of having the initial unselected text aligned flush left with the selected text. Surely this should be the default behaviour?

@arok, I've looked into your suggestion of using `android:spinnerItemStyle` to achieve this, but

[2016-02-10 09:54] miibpa opened #55 "Hint TextSize"
Is there any way to change hint text size?

[2016-02-15 07:14] TarasOryshhij opened #56 "programmatically arrow color"
How set arrow color programmatically?

[2016-02-16 07:28] TarasOryshhij commented on #56
and how set programmatically textColor????

[2016-02-17 07:13] RaghuManickam commented on #34
yes i too have the same issue . can u help me to fix this issue soon
![bug](https://cloud.githubusercontent.com/assets/12092816/13102389/f4fe52a2-d573-11e5-923d-01b08c8cc765.png)

[2016-02-18 11:08] marceloquinta commented on #48
Same here

[2016-02-22 13:56] soban-shareviasms opened #57 "Spinner Height error when item selected"
Spinner height increase when item selected,
On Hint select Height is Normal

[2016-02-25 17:58] WonderCsabo opened #59 "Incorrect indexing due to hint"
If one uses a hint, the the indexing will be shifted by one. This will cause unexpected behaviour:
- `setSelection()` will select wrong items
- when restoring the view state, the spinner will jump to a next item from the selected one

[2016-02-25 19:49] eklam commented on #55
+1

[2016-02-25 19:52] eklam commented on #48
You can override the size by providing a dimension value with the name `label_text_size`.

Example:

[code]

[2016-02-25 20:00] eklam commented on #51
Duplicate: #48

[2016-02-25 20:07] Andrew-Quebe commented on #51
@eklam at the time of writing this issue, there wasn't a reply from you on #48 and now there is. Besides, his issue is a bit different: "Floating Label Text size is not defined".

[2016-02-25 20:07] #51 closed

[2016-02-25 20:08] eklam commented on #51
Yes, I was trying to do something similar and replied to the issue, sorry for being blunt

[2016-02-26 06:47] meeftah commented on #57
me too, is there any fix?

[2016-02-26 18:15] WonderCsabo opened #60 "Wrong attribute formats"
In the [attributes](https://github.com/ganfra/MaterialSpinner/blob/master/library/src/main/res/values/attrs.xml), lots of colors have format `integer`, but these should be with format `color`.

[2016-02-27 03:27] Andrew-Quebe commented on #51
@eklam no biggie...thanks for the info :)

[2016-03-02 12:56] PrafullaKumarSahu opened #62 "Getting error unbound prefix"
Can you please guide me, I am unable to use material spinner

![unbound prefix](https://cloud.githubusercontent.com/assets/2470646/13460884/12a16034-e0a4-11e5-9cbe-228704b0babf.PNG)

This is my gradle dependencies

[code]

[2016-03-15 08:21] Daard opened #63 "MaterialSpinner vs Espresso"
I am trying to write instrumentation tests for my app. But I have faced strange problem when I run my tests.

android.support.test.espresso.PerformException: Error performing 'load adapter data' on view 'is assignable from class: class android.widget.AdapterView'.
at android.support.test.espresso.PerformException$Builder.build(PerformException.java:83)
at android.support.test.espresso.base.Default

[2016-03-15 08:50] Daard commented on #63
I replaced Espresso code with this
  onData(anything()).inAdapterView(withId(R.id.operation_status_spinner)).atPosition(2).perform(click());
and it works fine

[2016-03-21 23:28] Silvuz commented on #62
if not late... add this to xml

`xmlns:app="http://schemas.android.com/apk/res-auto"`

[2016-03-24 10:03] petecocoon commented on #30
Hi see this pull request https://github.com/ganfra/MaterialSpinner/pull/64

[2016-03-30 15:39] TheGreat0004 opened #65 "This is the exception i got on programatically setting spinner item in some spinner and some other works fine"
java.lang.ClassCastException: android.widget.LinearLayout$LayoutParams cannot be cast to android.widget.AbsListView$LayoutParams
                                                                    at android.widget.ListView.setupChild(ListView.java:1826)
                                                                    at android.widget.ListView.makeAndAddView(ListView.java:1793)

[2016-04-12 03:45] mohammed1ali opened #66 "Arrow on end/left for right-to-left locale"
How do we show arrow on left for rtl languages like arabic?

[2016-04-12 13:48] aparna-sreedhara commented on #56
hey, did u find out how to set the arrow color programmatically? I want to change the arrow color on selection of a item

[2016-04-28 04:59] mittalharsh54 opened #67 "Long text now wraping"
I am having long text and they are partially visible as rest are not visible and get hide

[2016-04-28 12:07] LisitaEugen opened #68 "Crash on empty array data set"
Hello, on empty array set got that crash:
 java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String java.lang.Object.toString()' on a null object reference
                                                                  at android.widget.ArrayAdapter.createViewFromResource(ArrayAdapter.java:394)
                                                                  at androi

[2016-05-11 18:02] vbauer opened #69 "Error during project build"
[code]

[2016-05-16 06:44] richardradics commented on #67
any idea how to fix? 👍

[2016-05-25 18:32] felipecastilhos opened #70 "Option showing with a white text"
Hi,

I added the Spinner on my xml as below:

        <fr.ganfra.materialspinner.MaterialSpinner
            android:id="@+id/spinner"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            app:ms_enableErrorLabel="false"
            app:ms_enableFloatingLabel="false"
            app:ms_hint="hint"
            app:ms_floatingLabelColor="#212121"

[2016-05-26 12:31] peterbetos opened #71 "New instance of Material Spinner returns 0 on getSelectedItemPosition()"
It seems that newly created material spinner instance with no selection performed returns getSelectedItemPosition() of 0 instead of -1. Please check why this is occurring. Thanks.

[2016-06-09 09:49] muratcanbur commented on #70
@felipecastilhos I suppose You used application context, I would suggest you to use getActivity() if you are in fragment or this if you are in activity

[2016-06-21 00:25] lupsyn commented on #71
Same problem here.

[2016-06-24 16:22] #70 closed

[2016-07-04 13:52] ademilhan041 commented on #57
+1

[2016-07-11 06:45] Sushil21 opened #72 "app:ms_hintColor="@color/hint""
ms_hintColor not found

[2016-07-17 12:52] smtchahal commented on #71
I just made a fork of the project [here](https://github.com/smtchahal/MaterialSpinner) that fixes this issue. I would make a pull request, but it seems this project isn't being maintained anymore.

[2016-07-21 06:18] peterbetos commented on #71
Thanks @smtchahal. We're trying to use yours now. Thanks.

[2016-08-01 04:21] jom16antonio commented on #72
xmlns:app="http://schemas.android.com/apk/res-auto"

app:ms_hintColor="@color/yourcolor"

[2016-08-01 05:22] Sushil21 commented on #72
still its not working...

[2016-08-19 12:20] filipebezerra commented on #59
Same bug with me

[2016-08-21 19:19] FinnGu commented on #57
Push

[2016-08-25 09:12] drayan85 opened #73 "Error inflating class fr.ganfra.materialspinner.MaterialSpinner"
08-25 17:06:17.635 21412-21412/com.sample E/AndroidRuntime: FATAL EXCEPTION: main
                                                             Process: com.sample, PID: 21412
                                                             java.lang.RuntimeException: Unable to start activity ComponentInfo{com.sample/com.sample.NewDiscussionActivity}: android.view.InflateException: Binary XML file line

[2016-08-25 09:22] #73 closed

[2016-09-09 09:45] PeterPhyo opened #74 "How to beside text?"
I would like to do the text; Camera Accessories (Menu Name) like sddd (Item Name).

![img_20160909_155232](https://cloud.githubusercontent.com/assets/16751250/18382591/a0812b34-76a7-11e6-9bd9-8f57e38dd1a9.png)

[2016-09-15 16:17] Ceaggar opened #75 "there a way to have multiple selections?"
I want to set something like "CHOICE_MODE_MULTIPLE".
thank you very much for your effort and for this great library.

[2016-09-20 07:57] ahmedmus opened #76 "Popup is displayed spearted from spinner"
here is my CustomDialog.xml
`<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:minWidth="350dp"
    android:minHeight="200dp">
    <LinearLayout
        a

[2016-10-06 19:05] Scrounger opened #77 "floatingLabelText not shown if hint is deactivated and selectedItem position = 0"
@ganfra:
There is an issue if you selectItem at position = 0 and ms_hint is deactivated. It cause that floatingLabelText  not shown on selectItem at position = 0

[2016-10-17 06:33] cnemeth01 opened #78 "Hi"
It would be really helpful if there is a new attr (isUnderLine) in order to be able to set underline or hide it.
I made this little changes in feature/new-attr-need-underline branch. I don't know how does it work, but I'll be happy to contribute to this good lib.

Best
Csaba Nemeth

[2016-10-24 11:58] anbumani91 commented on #75
Hi ,how to use CHOICE_MODE_MULTIPLE option.

[2016-11-07 16:52] simfonija opened #79 "How to remove header text from dropdown?"

[2016-11-11 20:01] mjanulaitis opened #80 "Spinner resizes when selecting an item"
If configured in XML to android:layout_width="wrap_content" upon selecting an item control resizes.  In my example, the hint is "Age".  The values are 1- 100. When I select the number 1 the control resizes.  The control should remain a fixed size.

[2016-11-17 15:25] saibbyweb opened #81 "custom font not working"
Tried to use `app:ms_typeface="typeface.ttf"` to apply custom font to the spinner. But it only applies to the floating label, not to the spinner items.

[2016-11-18 04:33] imranhakeem commented on #73
@drayan85 How did you solved this issue?

[2016-11-18 07:44] needo2 opened #82 "setError throws exception"
[code]

[2016-11-22 09:56] drayan85 commented on #73
In your, Gradle add the below lines
`// Enabling multiDex support.
  multiDexEnabled true`

`compile 'com.android.support:multidex:1.0.1'`

[2016-12-20 18:49] timbaev commented on #73
There is other solution? Enabling multiDex support didn't help

[2016-12-21 02:55] drayan85 commented on #73
@timbaev Clean build also didn't work after adding the multidex ?

[2016-12-22 21:54] timbaev commented on #73
@drayan85 yes

[2017-01-04 10:23] jehad-suliman opened #83 "Change disabledColor"
How can i change disabled color ??

[2017-01-26 15:41] dyas90 opened #86 "uses onItemSelectedListener in kotlit"
How i get item selected value of spinner? for java usually use onItemSelected, but i can use in kotlin

[2017-01-31 22:53] asadtariq96 commented on #80
same problem

[2017-02-20 13:44] lorobode commented on #67
I think I'm having the same problem. Even there is space available, the text is getting hidden.

[2017-02-23 07:43] pcegarra opened #87 "Runtime exception using calligraphy"
I cant inflate this layout using calligraphy library for custom default fonts:

 java.lang.RuntimeException: Unable to start activity }: android.view.InflateException: Binary XML file line #20: Error inflating class fr.ganfra.materialspinner.MaterialSpinner
                                                                      at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:

[2017-03-24 18:48] felipecastilhos commented on #80
I'm with the same problem here, but only when I create the adapter with:

android.R.layout.simple_dropdown_item_1line

If create using simple_spinner_dropdown_item like this:

return new ArrayAdapter<>(context, android.R.layout.simple_spinner_dropdown_item, items);

the size remains the same.

[2017-03-31 14:46] Emeritus-DarranKelinske commented on #36
Did you find a solution for this?

[2017-04-04 13:05] tsakmalis opened #88 "Change the color of the Text"
Hello, I would like to ask you how can I change the color of the Text of the DropDown Menu items?

[2017-04-05 10:36] #88 closed

[2017-04-06 09:05] mblancomu commented on #81
Can i access by code to setTypeface?  When are you going to launch another version with this improve? Thanks and great job!

[2017-04-24 13:03] omtodkar opened #89 "D/OpenGLRenderer: endAllActiveAnimators on (DropDownListView) with handle."
On selecting second item in dropdown (just next value after `ms_hint`), it doesn't call OnItemSelected event. I am getting below log in logcat.

`D/OpenGLRenderer: endAllActiveAnimators on 0x8516b680 (DropDownListView) with handle 0x8517e360`

This is xml configured MaterialSpinner:

    <fr.ganfra.materialspinner.MaterialSpinner
                android:id="@+id/distributor"
                androi

[2017-04-28 13:06] TurkerKucuk opened #90 "isEnabled override method in the inner adapter is not implemented"
Hello @ganfra,
Thank you for taking the time to build this library. We are using your spinner in our project and it looks **great**. However, I found out that your inner class HintAdapter does not override `isEnabled()` and `areAllItemsEnabled()` methods. We wanted to display certain rows in the spinner but make them un-selectable depending on the data conditions.
Only after closely examining the

[2017-05-02 12:30] EzequielMessore opened #91 "onSaveInstanceState() not working for MaterialSpinner."
Hello,
When I change the orientation of my screen and save the bundle and restore and use the spinner.setSelection (Obejct) always returns to the default value Select. How can I resolve this?

[2017-05-09 18:44] joshid commented on #81
You can use this code to set the typeface in spinner values:

`ArrayAdapter<String> adapter = new ArrayAdapter<String>(this,R.layout.simple_spinner_item, items) {

     public View getView(int position, View convertView, ViewGroup parent) {
             View v = super.getView(position, convertView, parent);
             Typeface externalFont=Typeface.createFromAsset(getAssets(), "fonts/your-custom

[2017-05-23 03:34] patuoynageek commented on #90
@TurkerKucuk did you end up implementing it?

[2017-06-06 14:08] novas1r1 commented on #79
+1

[2017-06-06 14:55] novas1r1 commented on #91
+1

[2017-06-07 13:23] michaelbukachi opened #93 "Fatal Exception: java.lang.IndexOutOfBoundsException: Invalid index 0, size is 0"
So I got this crash yesterday from one of my testers:
[code]
Does the spinner support empty lists?

[2017-06-13 18:49] TurkerKucuk commented on #90
Yes, I ended up adding the material spinner as a module to our Android project where I implemented required overrides.
As a result I ended up appending these two override methods to `MaterialSpinner.HintAdapter` inner class.
[code]

[2017-06-27 10:43] i39anisimov commented on #89
Any solutions? Same issue

[2017-06-28 06:53] Subratsss commented on #89
I have same issues

[2017-06-28 19:08] i39anisimov commented on #89
@Subratsss i've solved my issue.
I forgot that notifyDataSetChanged should be called in **main thread**. Check in which thread you call it.

[2017-07-11 13:25] PhilipSA opened #94 "New Maven build?"
Last update was 2015-11-12 lot of useful new features have been pushed since then so time for update?

[2017-07-20 09:55] vincenzoaceto commented on #42
NOW Is it possible to have, by default, the hint showing up but not being part of the list of items to choose from ?

[2017-07-30 16:36] nimahedayati opened #95 "Set typeface with programming"
Hi
How i can set typeface for hint with programming?

[2017-07-30 16:38] nimahedayati opened #96 "Move hint to right"
Hi
how i can move hint to right??

[2017-08-01 12:22] asinel commented on #14
When I use "entries", it shows hint 2 times

[2017-08-08 02:59] fly7632785 opened #97 "can't change hint"
can't change hint on the spinner layout ,   but dropdown layout is ok

[2017-08-22 21:26] Amir24HG opened #98 "When rotate device increases item auto"
When i rotate device in new state of device automatically spinner plus one item.
 walk forward item each time i rotate

[2017-08-25 12:42] asinel commented on #42
Looks like not. :( But I would want to have this feature

[2017-09-10 06:01] mdumrauf commented on #14
I am getting the same error as @asinel

[2017-09-14 15:50] EDDDDDDDDDDD opened #99 "How to disable hints?"
Is the hint enabled on default?
How could you disable the hint if it is selectable?

Thanks.

[2017-09-15 23:10] mdumrauf commented on #78
Hi! I will be taking over the maintenance of the library.

Contributions are always accepted. What is the text that you would like to have underlined? You can achieve this by code in your Activity/Fragment.

[2017-09-15 23:11] mdumrauf commented on #93
It does support empty lists. Can you provide a code example for this crash?

[2017-09-15 23:12] mdumrauf commented on #94
That's right! Time for an update. I will be preparing a new build in the next days. I will close this.

[2017-09-15 23:12] #94 closed

[2017-09-15 23:13] mdumrauf commented on #74
Are you able to do this using a negative padding?

[2017-09-15 23:15] mdumrauf commented on #75
This is currently not supported. Contributions welcomed :)

[2017-09-15 23:17] mdumrauf commented on #65
Please provide a code sample on how you are setting the adapter. The ClassCastException is very generic in this case.

[2017-09-15 23:17] #65 closed

[2017-09-15 23:23] mdumrauf commented on #69
You are missing the global properties needed for the library to build for deploy. I will improve this, but for now you should be fine by deleting https://github.com/ganfra/MaterialSpinner/blob/master/library/build.gradle#L25

[2017-09-15 23:23] #69 closed

[2017-09-15 23:31] mdumrauf commented on #66
Please use `ms_isRtl`

[2017-09-15 23:31] #66 closed

[2017-09-15 23:34] mdumrauf commented on #93
Duplicate https://github.com/ganfra/MaterialSpinner/issues/68

[2017-09-15 23:34] #93 closed

[2017-09-15 23:36] mdumrauf commented on #63
Thanks for the example @Daard. Closing since I understand it was a bug in Espresso and you managed to solve it.

[2017-09-15 23:36] #63 closed

[2017-09-15 23:37] mdumrauf commented on #62
As @Silvuz said, you are missing the namespace.

[2017-09-15 23:37] #62 closed

[2017-09-16 00:27] #60 closed

[2017-09-16 01:17] mdumrauf commented on #68
Please check the sample introduced in #102

[2017-09-16 01:17] #68 closed

[2017-09-16 01:19] mdumrauf commented on #37
Thanks! Already extending `AppCompatSpinner`. Feel free to open a new issue if you need it.

[2017-09-16 01:19] #37 closed

[2017-09-16 01:23] mdumrauf commented on #99
There is no default hint. Just supply the array and the Spinner will be populated and display the first element.

[2017-09-16 01:23] #99 closed

[2017-09-16 01:24] mdumrauf commented on #97
Use `app:ms_hint="This is a hint"` to set the hint in xml

[2017-09-16 01:24] #97 closed

[2017-09-16 01:28] mdumrauf commented on #91
This might have been an issue with [NineOldAndroids](https://github.com/JakeWharton/NineOldAndroids). In the next milestone we are removing this dependency. I tried what you mentioned and works fine :)

[2017-09-16 01:28] #91 closed

[2017-09-16 01:32] mdumrauf commented on #98
As mentioned in #91, this is not happening anymore when using the latest official `AppCompatSpinner`.

[2017-09-16 01:32] #98 closed

[2017-09-16 01:33] mdumrauf commented on #82
Not happening anymore :)

[2017-09-16 01:33] #82 closed

[2017-09-16 01:37] mdumrauf commented on #72
fixed in #100

[2017-09-16 01:37] #72 closed

[2017-09-16 01:39] mdumrauf commented on #76
Wrong MaterialSpinner, Sir! https://github.com/jaredrummler/MaterialSpinner

[2017-09-16 01:39] #76 closed

[2017-09-16 01:41] mdumrauf commented on #59
This is fixed in #49. I will bump the priority now.

[2017-09-16 01:43] mdumrauf commented on #30
Closing as it was fixed in #64

[2017-09-16 01:43] #30 closed

[2017-09-16 01:44] #50 closed

[2017-09-16 01:46] #26 closed

[2017-09-16 01:47] mdumrauf commented on #26
Closing for inactivity. Please feel free to reopen if needed :)

[2017-09-16 01:48] mdumrauf commented on #38
Adding `android:entries` works fine. The only existing issue was the duplicate hint option which is fixed in #49.

[2017-09-16 01:48] #38 closed

[2017-09-16 01:50] mdumrauf commented on #29
Maybe! I will take a look.

[2017-09-16 01:51] #35 closed

[2017-09-16 01:52] mdumrauf commented on #14
Fixed in #49

[2017-09-16 01:55] mdumrauf commented on #20
This was fixed in v1.1.1

[2017-09-16 01:55] #20 closed

[2017-09-16 01:56] mdumrauf commented on #33
Closing for inactivity. Feel free to reopen if needed.

[2017-09-16 01:56] #33 closed

[2017-09-16 01:57] mdumrauf commented on #15
This is working as expected. Please check the example introduced recently.

[2017-09-16 01:57] #15 closed

[2017-09-16 01:58] mdumrauf commented on #19
Fixed with #64

[2017-09-16 01:58] #19 closed

[2017-09-16 01:59] mdumrauf commented on #23
Closing for inactivity. Feel free to reopen if needed.

[2017-09-16 01:59] #23 closed

[2017-09-16 01:59] mdumrauf commented on #18
Closing for inactivity. Feel free to reopen if necessary.

[2017-09-16 01:59] #18 closed

[2017-09-16 02:04] mdumrauf commented on #9
Fixed in v1.1.1. Feel free to reopen if necessary.

[2017-09-16 02:04] #9 closed

[2017-09-16 07:22] mdumrauf commented on #71
Hello everyone! We are making this repo to come to live again. @peterbetos please feel free to send any PR you wish :)

[2017-09-16 07:24] #14 closed

[2017-09-16 07:26] #59 closed

[2017-09-16 07:27] #71 closed

[2017-09-16 07:35] mdumrauf commented on #42
Could you please provide more info on what is this requirement about?

[2017-09-16 07:36] mdumrauf commented on #25
Closing for inactivity

[2017-09-16 07:36] #25 closed

[2017-09-16 07:41] mdumrauf commented on #32
Gravity: use `android:gravity` in a view assigned to `app:ms_hintView`.
Typeface of list items: apply it directly to the custom row view of the Adapter

[2017-09-16 07:41] #32 closed

[2017-09-16 07:42] mdumrauf commented on #95
You may set it directly to the view you can configure with `app:ms_hintView`

[2017-09-16 07:42] #95 closed

[2017-09-16 07:44] mdumrauf commented on #96
You can apply `android:gravity="right"` to a custom view set with `app:ms_hintView`

[2017-09-16 07:44] #96 closed

[2017-09-16 07:45] mdumrauf commented on #87
Can you please provide a code sample on how you are using it?

[2017-09-16 07:46] mdumrauf commented on #81
@joshid's answer closes this issue. Thanks guys!

[2017-09-16 07:46] #81 closed

[2017-09-16 07:48] mdumrauf commented on #44
Just use Spinner's `setSelection()`.

[2017-09-16 07:48] #44 closed

[2017-09-16 07:51] #48 closed

[2017-09-16 07:52] mdumrauf commented on #55
You can do it thanks to #64

[2017-09-16 07:52] #55 closed

[2017-09-16 07:54] mdumrauf commented on #56
You can do it using `app:ms_arrowColor`

[2017-09-16 07:54] #56 closed

[2017-09-16 07:56] mdumrauf commented on #90
@TurkerKucuk can please explain what you are trying to achieve and why that code snippet fulfills your needs? Is it a bug or a feature?

[2017-09-16 07:58] mdumrauf commented on #34
This doesn't seem to be happening in current version. Closing. Please re-open if you consider this is a bug in 1.1.1.

[2017-09-16 07:58] #34 closed

[2017-09-16 17:17] mdumrauf commented on #77
Can you please provide an example?

[2017-09-16 17:30] mdumrauf commented on #89
I can't reproduce this issue. As @i39anisimov said, it seems not to be a bug in the library. Closing for now, feel free to reopen if necessary.

[2017-09-16 17:30] #89 closed

[2017-09-16 17:49] mdumrauf commented on #52
This issue is native `Spinner` related. It can't be done with `Spinner` neither.

[2017-09-16 17:49] #52 closed

[2017-09-18 03:58] eunicegalang opened #104 "Background color"
How to assign a background color?

[2017-09-18 10:05] fly7632785 commented on #97
I figure it out,
If you don't set a adapter,  just set a hint. It will not work.
So, you must set a adapter, even the data is empty.
Right?

[2017-09-20 15:30] mdumrauf commented on #104
You can set it on your views configured with `ms_dropDownHintView`, `ms_hintView` or simply set `ms_baseColor`

[2017-09-20 15:30] #104 closed

[2017-09-20 20:56] AliYusuf95 opened #105 "Failed to resolve: com.github.ganfra:material-spinner:2.0.0"
When I try to import the library it's give me this error
`Error:(86, 14) Failed to resolve: com.github.ganfra:material-spinner:2.0.0`
Even when I try to use version 1.1.2 I have same error, but 1.1.1 it's works fine.

[2017-09-21 03:41] hiepbeos commented on #105
i have same problem
Error:Could not GET 'https://jitpack.io/com/github/ganfra/material-spinner/2.0.0/material-spinner-2.0.0.pom'. Received status code 401 from server: Unauthorized

[2017-09-21 14:55] ganfra commented on #105
Hey, yeah, the release has not been pushed to maven yet.
It'll be ok very soon.

[2017-09-21 14:55] #105 closed

[2017-09-30 07:21] Chivorns opened #106 "Floating lable not work for android 4.4.4 or lower (I'm not sure other version work fine or not, but for android 7.x is ok)"
I also using MaterialEditText but it is work fine

[2017-09-30 07:45] shahimclt opened #107 "Build failed due to color values error"
I am getting the following error when trying to include the library:

    Error:(762) Attribute "ms_errorColor" already defined with incompatible format.
    Error:(687) Original attribute defined here.

The first line is pointing to this:

    <attr format="color|reference" name="ms_errorColor"/>

[2017-09-30 08:08] shahimclt commented on #107
OK. seems like there is a conflict with this library: [Android Material Stepper](https://github.com/stepstone-tech/android-material-stepper)

So is there any way to resolve this that does not involve forking one of the libs and changing the attribute name?

[2017-09-30 11:02] shahimclt commented on #80
Me too. using `android.R.layout.simple_dropdown_item_1line` causes this problem. The fix is to use this (as in [readme](https://github.com/ganfra/MaterialSpinner#usages)):

    ArrayAdapter<String> adapter = new ArrayAdapter<String>(this, android.R.layout.simple_spinner_item, brands);
    adapter.setDropDownViewResource(android.R.layout.simple_spinner_dropdown_item);

[2017-09-30 11:04] shahimclt commented on #57
There is a solution. See #80.

sing `android.R.layout.simple_dropdown_item_1line` causes this problem. The fix is to use this (as in [readme](https://github.com/ganfra/MaterialSpinner#usages)):

    ArrayAdapter<String> adapter = new ArrayAdapter<String>(this, android.R.layout.simple_spinner_item, brands);
    adapter.setDropDownViewResource(android.R.layout.simple_spinner_dropdown_item);

[2017-10-13 02:29] TurkerKucuk commented on #90
Hi @mdumrauf - So in the original post, I explained a little bit. Our goal was to "to display certain rows in the spinner but make them un-selectable depending on certain conditions." When you instantiate the `MaterialSpinner`, you have to supply an adapter, as you could do with any other listview/recycler view sort of situation. I thought that `MaterialSpinner` would use the supplied adapter as i

[2017-10-20 02:07] chinloong commented on #77
This way seems to work for me.

1. Call **showFloatingLabel()** during initialisation:

[code]
2. Set **app:ms_alwaysShowFloatingLabel** to true in layout xml

[code]

[2017-10-20 16:17] mdumrauf commented on #77
Closing as @chinloong example clarifies the usage. Please reopen if necessary.

[2017-10-20 16:17] #77 closed

[2017-10-23 18:57] jordansilva commented on #107
I've the same problem here! @shahimclt did you solve forking?

[2017-10-24 08:32] shahimclt commented on #107
@jordansilva  I did not fork this but I solved the issue for now by downloading the source into my project and changing this:

    <attr name="ms_errorColor" format="color"/>

to this:

    <attr name="ms_errorColor" format="color|reference"/>

in `res/attrs.xml`.

I will try to submit a PR when I get the time.

[2017-10-24 08:38] shahimclt commented on #107
@ganfra  any thoughts on this?

[2017-10-24 08:46] shahimclt commented on #107
This seems to be a [very common issue](https://groups.google.com/forum/#!msg/adt-dev/HeM0aptfddY/wLsLF4oxZjcJ). not sure what the best approach is here.

[2017-11-03 08:42] oksett commented on #79
+1

[2017-11-03 09:07] oksett commented on #42
Can you provide ability to be possible, to hide hint from dropdown, and display only items without hint on dropdown?

[2017-11-04 23:53] mdumrauf commented on #42
I think that being able to have selectable hint from dropdown does make sense in the way that you can reset the Spinner to the default-no-option-selected status. Otherwise there wouldn't be any way to let the user reset it.

However, I see that there are 3 persons interested. Can you please tell me a use case where this would be useful?

[2017-11-06 11:45] Kobatsu commented on #42
I wanted this feature aswell but ended up by using the floatinglabel attribute instead. The floating label explains what are the items in the dropdown (without being in it) and the item selected is one of the values in the list (the "default one" for my use case).
The setSelection method does not seem to work however and the floating label is not present at first. It becomes visible when we click

[2017-11-14 13:31] bharatdodeja opened #109 "Compile time error while updating it to 2.0.0"
I have been using the v1.1.1 and having issue of empty list. Hence, I want to update the library to v2.0.0 but getting below compile time error.

Error:(52, 17) error: cannot access ActivityCompatApi23
class file for android.support.v4.app.ActivityCompatApi23 not found
Error:Execution failed for task ':app:compileQaDebugJavaWithJavac'.

I used below statement in build.gradle file to include librar

[2017-11-20 15:45] Volkeee opened #110 "Combine with SearchableSpinner"
Hey there! I would like to ask you if its possible to override the behavior of the spinner, exactly the way it acts when I click on it? I want to replace the dropdown view with SearchableListDialog from SearchableSpinner (link below).
I have my own CustomSearchableSpinner and CustomSearchableListDialog which I've made by copying the code from it`s repo and creating my own classes with it`s code.

[2017-11-29 12:13] heshamz opened #111 "selectedItem wrong value"
Hello,

I have a problem with selectedItem that its value returns always the wrong item while selectedItemPosition returns the correct selected item position. After looking at the code I found out that the problem in getSelectedItem function. There is (-1) and should be removed

[code]

[2017-12-07 05:04] briananderson1222 commented on #107
@ganfra Can we bump this? I would love to not have to include this project as a module!

[2017-12-07 06:58] briananderson1222 commented on #107
https://github.com/ganfra/MaterialSpinner/pull/112

[2017-12-11 08:29] S3ptikus commented on #79
I create layout
`<?xml version="1.0" encoding="utf-8"?>
<TextView
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:id="@android:id/text1"
    android:singleLine="true"
    android:visibility="gone"
    android:layout_width="0dp"
    android:layout_height="0dp"
    android:textAlignment="viewStart"/>`

and set this for dripDownHintView
`spinnerSelectTopic.setDripDownHintVi

[2017-12-12 07:33] peoplescope opened #113 "FATAL EXCEPTION : Inflate Exception"
I get this error in my project
Error inflating class fr.ganfra.materialspinner.MaterialSpinner

I have tried all things but it not resolve.how it will be resolve

[2017-12-14 06:58] Ragulsekar opened #114 "Error inflating class"
**# android.view.InflateException: Binary XML file line #73: Error inflating class fr.ganfra.materialspinner.MaterialSpinner**

I have tried exclude v7, even though its showing error.
Please give me solution, thanks in advance.

[2017-12-14 07:02] Ragulsekar commented on #73
@timbaev  I,m also facing same issue. Have you fixed? If so, please help me.

[2017-12-14 09:19] drayan85 commented on #73
@timbaev, could you please post your layout XML here?

[2017-12-14 10:00] Ragulsekar commented on #73
@drayan85, can u please help me to solve this issue.

[2017-12-14 10:10] drayan85 commented on #73
@Ragulsekar paste your layout xml here

[2017-12-14 10:14] Ragulsekar commented on #73
@drayan85, this is my layout

<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:ls="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@android:color/white"
    android:orientation="ve

[2017-12-14 11:20] Ragulsekar commented on #73
@drayan85, these are support libraries
    compile 'com.android.support:appcompat-v7:25.3.1'
    compile 'com.android.support.constraint:constraint-layout:1.0.2'
    compile 'com.android.support:support-v4:25.3.1'
    compile 'com.android.support:design:25.3.1'
   compile 'com.android.support:multidex:1.0.1'
    compile 'com.android.support:cardview-v7:25.3.1'

[2017-12-14 15:33] drayan85 commented on #73
@Ragulsekar what is your root layout?

[2017-12-15 04:02] drayan85 commented on #73
@Ragulsekar could you please try the layout without modifying adding more elements?

[code]

[2017-12-15 05:36] Ragulsekar commented on #73
@drayan85, I have tried like you said, view is working good, but item click is not taking. How to get the selected item?

[2017-12-15 08:24] drayan85 commented on #73
`app:ms_enableFloatingLabel="false"` change to `app:ms_enableFloatingLabel="true"`

[2017-12-15 09:20] Ragulsekar commented on #73
@drayan85, I'm using setOnItemSelectedListener only, even thought  not able to get the selected item.

[2017-12-15 10:10] drayan85 commented on #73
what is the crash you are getting now? is it related MaterialSpinner?

[2017-12-15 10:13] Ragulsekar commented on #73
@drayan85, I fixed crash, now  setOnItemSelectedListener is not working, not able to get the selected item

[2017-12-15 10:16] drayan85 commented on #73
What do you mean by not be able to select? After a select text from the list, still, the hint is visible in MaterialSpinner?

[2017-12-15 10:34] Ragulsekar commented on #73
@drayan85, If I using both hint and setOnItemSelectedListener, app is crash.

[2017-12-15 10:44] drayan85 commented on #73
@Ragulsekar you are not providing not enough details or stack trace and alternatively, you can ask this question in StackOverflow, you may get an answer.

[2017-12-15 11:23] Ragulsekar commented on #73
@drayan85 Thank You.

[2017-12-16 11:34] kungfucat commented on #114
MaterialSpinner spinner = new MaterialSpinner(this);
        String[] options = {"1", "2", "3", "4", "5", "6"};
        ArrayAdapter<String> adapter = new ArrayAdapter<String>(this, android.R.layout.simple_spinner_item, options);
        adapter.setDropDownViewResource(android.R.layout.simple_spinner_dropdown_item);
        spinner.setLayoutParams(new LinearLayout.LayoutParams(ViewGroup.LayoutPara

[2018-01-11 09:19] Sum41forever opened #117 "getSelectedItem will return wrong value"
[code]
the reason is the position -1

[2018-01-11 09:35] Sum41forever commented on #111
Duplicate of #117

[2018-01-11 09:36] Sum41forever commented on #117
Duplicate of #111

[2018-01-11 19:17] danielrust commented on #74
Same issue here, negative padding does not solve this .

[2018-01-16 17:47] hfahmy opened #118 "Disabling error label animation"
Is there any way to disable error label animation or set the error label animator to null? I have a view anchors to the bottom of the material spinner which keeps moving around due to the error label animation.

Many thanks!

[2018-01-17 08:29] #86 closed

[2018-01-18 09:57] Amit00a opened #119 "Remove Underline From Spinner"
i have set background:"@null" but underline is not removed from spinner. How to remove underline from spinner.

[2018-01-18 23:40] JorgeBazarte opened #120 "Fatal Exception: java.lang.IndexOutOfBoundsException"
Hello, I'm getting constantly on Crashlytics a report of crash on one of your classes

![image](https://user-images.githubusercontent.com/5301898/35127130-3eee6b10-fc76-11e7-9cb5-88b7eb055dc9.png)

Is there anything that you can help me with this bug ? I'm using 2.0.0 version

[2018-01-19 16:21] Quentin1010 opened #121 "Prefix too common"
Your resources' name may be a bit too simple and common. The prefix "ms_" is too short and can lead to conflicts.

Here is my issue on Stack : [https://stackoverflow.com/questions/48344940/attribute-duplicated-in-libraries](https://stackoverflow.com/questions/48344940/attribute-duplicated-in-libraries)

[2018-01-24 16:36] Quentin1010 commented on #42
Hi @mdumrauf, when did the fix from masaliev will be available ? It was committed since 14 dec 2017 but it is still in another branch.

[2018-01-24 23:46] mdumrauf commented on #42
This is actually an enhancement rather than a bug @Quentin1010

[2018-01-25 08:29] Quentin1010 commented on #42
Even though I was just referring to the title of his commit (i.e. "Fix hint appears as an item to choose") and that this was a semantic problem pointed out, you didn't really answer my question. Do you know when/think this new feature will be push to the master branch ? Thanks for your quick answers.

PS: I will edit that out next because it may not belong to here but, I just wanted to know if you

[2018-01-30 07:42] ridcully99 commented on #120
I'm getting this too, when selecting the last item of the list.

[2018-01-31 17:20] mdumrauf commented on #42
@Quentin1010 sorry for the misunderstanding. I will take a look this weekend and see if I can include it in next release.

[2018-02-08 02:29] DCampodonico opened #122 "llegalArgumentException when setting error message"
I'm getting this exception if I set an error message in onCreate:
[code]
Maybe this is happening because the view wasn't completely laid out when calling setError().
A simple workaround is to delay the setError() by some milliseconds, but I don't know how reliable this is on older devices or if it will work everytime.

[2018-03-06 15:36] pepitofriki opened #123 "How to reset the MaterialSpinner?"
I have 4 spinners whose values ​​depend on the selection of the others, when I select a value of the first spinner I update the value of the other spinner, I am working with the adapters to update the data and if it does but visually the spinner does not reset to its value by default (with the hint). This is my code:

[code]

My data is shown in the spinner but I just want the spinner to be visual

[2018-03-07 12:06] Ndack opened #124 "Error: Error converting bytecode to dex"
Hi guys... I faced with this Problem.. For anyone having idea please help me

Information:Gradle tasks [:sample:assembleDebug]
Error:Error converting bytecode to dex:
Cause: com.android.dex.DexException: Multiple dex files define Lfr/ganfra/materialspinner/MaterialSpinner$1;
Error:com.android.dex.DexException: Multiple dex files define Lfr/ganfra/materialspinner/MaterialSpinner$1;
Error:	at com.an

[2018-03-07 21:43] JorgeBazarte commented on #123
I have the same problem, I also set a new adapter on the spinner and is not working.

[2018-03-07 21:47] Briciovh commented on #123
The .setSelection(position); for the current adapter on the spinner doesn't reset the initial spinner position.

[2018-03-07 23:24] JorgeBazarte commented on #123
I just found a solution, just set your selected position to 0 before clear the adapter.

[2018-03-08 14:17] Gh0stahCZ commented on #119
@Amit00a <app:ms_thickness="0dp">

[2018-03-18 18:59] michaelbukachi opened #125 "HOW TO: Changing background color"
Is it possible to change the background color of the material spinner. I have tried changing using the android:background attribute but it's not reflecting.

[2018-04-05 12:39] sootood opened #127 "set arrow on left"
how set arrow on left side of box?

[2018-04-12 12:29] sonaliKamble opened #128 "not get resource 'https://jitpack.io/com/github/ganfra/material-spinner/2.0.0/material-spinner-2.0.0.pom"
Error:FAILURE: Build failed with an exception.

* What went wrong:
Could not resolve all files for configuration ':app:debugCompileClasspath'.

  Required by:
      project :app

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help at https://help.gradle.org

BUILD FAILED in 30s

[2018-04-17 08:56] hoangcuongdev commented on #83
you have done yet?

[2018-04-25 15:33] sleroy18 opened #129 "SetSelection not working."
`ArrayAdapter<String> adapter = new ArrayAdapter<String>(this, android.R.layout.simple_spinner_item, testArr);

adapter.setDropDownViewResource(android.R.layout.simple_spinner_dropdown_item);
        isBuying.setAdapter(adapter);
        isBuying.setSelection(1);
`
will not work but the regular spinner

`isRenting = findViewById(R.id.rentingSpinner);

isRenting.setAdapter(adapterYesNo);
        is

[2018-04-25 16:14] sleroy18 commented on #129
**** UPDATE*****
As a last ditch effort I went to set the text instead realizing that this was not a traditional spinner. The workaround I found to pre-set the selection is to use the adapter to get the text at position X and then set that text to the "spinners".

[2018-04-27 09:26] MahipalMalviya commented on #120
you should use materialSpinner.selectedItemPosition - 1

[2018-05-03 15:05] billy9222 opened #131 "Floating text doesn't animate"
On samsung tab t331 material floating text doesn't animate!

[2018-05-07 15:40] abiemann opened #132 "change font size"
after the user has made a selection, I'd like the text to show in the exact same way as an TextInputEditText.

How is it possible to change the font size?

[2018-05-07 16:26] abiemann commented on #132
found it: https://stackoverflow.com/a/9476736/550471

[2018-05-07 16:26] #132 closed

[2018-05-09 23:42] vicentebalderas commented on #125
You need to wrap the spinner in a layout, then use attributes of thickness, colors and margins to appropiate customize.

[2018-06-03 19:27] chriss-inno commented on #111
This issue was not yet sorted out as I'm still getting the same error

[2018-06-07 01:29] solanki12 opened #133 "java.lang.ClassCastException: android.widget.RelativeLayout cannot be cast to android.widget.TextView"
java.lang.ClassCastException: android.widget.RelativeLayout cannot be cast to android.widget.TextView
        at fr.ganfra.materialspinner.MaterialSpinner$HintAdapter.getHintView(MaterialSpinner.java:953)
        at fr.ganfra.materialspinner.MaterialSpinner$HintAdapter.buildView(MaterialSpinner.java:939)
        at fr.ganfra.materialspinner.MaterialSpinner$HintAdapter.getView(MaterialSpinner.java:

[2018-06-21 11:02] tiagago opened #134 "How to change the arrow?"
Its possible change the arrow from spinner?

[2018-07-04 06:28] rupert2133 commented on #96
<?xml version="1.0" encoding="utf-8"?>
<ViewGroup
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:layout_gravity="center">

</ViewGroup>

[2018-07-05 06:55] JaydipRadadiya commented on #74
Hi

Also I am facing a same problem. is there any update?

Thanks.

[2018-07-05 11:45] mdumrauf commented on #74
I'm scheduling an update for next week. Almost sure I will be able to
include it.

On Thu, Jul 5, 2018, 3:55 AM Jaydip Radadiya <notifications@github.com>
wrote:

--

Matías Dumrauf

[2018-09-05 12:47] ArsalanMaliks commented on #74
is the above mentioned issue fixed?

[2018-09-10 13:27] oliverKucharovic opened #135 "Arrow not in center"
how can i set the arrow to the center horizontal

  <LinearLayout

      android:id="@+id/llPhone"
      android:orientation="horizontal"
      android:layout_width="match_parent"
      android:layout_height="wrap_content"
      android:layout_marginLeft="@dimen/margin_huge"
      android:layout_marginRight="@dimen/margin_huge"
      app:layout_constraintTop_toBottomOf="@id/tv_set_your_number"

[2018-09-10 13:27] oliverKucharovic commented on #135
spiner item
<?xml version="1.0" encoding="utf-8"?>

<TextView
  xmlns:android="http://schemas.android.com/apk/res/android"
  style="@style/Text.SpItem"
  android:layout_width="wrap_content"
  android:layout_height="wrap_content"
  android:textColor="@color/red_dark"
  />

[2018-09-10 14:32] mrshahabi opened #136 "FloatingLabelFontSize"
How to change or increase font size of floating label?

[2018-09-24 16:17] interwap commented on #107
Since its not been added to the main library, here is a
implementation 'com.github.interwap:MaterialSpinner:v2.0.1'

https://github.com/interwap/MaterialSpinner/

[2018-09-25 12:52] MintuReena opened #137 "not working in dialog box!"

[2018-09-27 22:18] amirdora commented on #73
I got the same error, i removed < app:ms_typeface="typeface.ttf"> it resolved the issue but the spinner looks ugly. 👎 this is buggy fix it

[2018-10-05 12:38] ebghrimtech opened #138 "Support for latest API level"
Hello,
We are currently using your library in one of our application. Actually we need a favour from your side. According to the Google Play Policy, all apps have to provide support for at least API level 26 which is satisfied in your case. We are targeting API level 28. So can you please provide us support for API level 28 in your current repository?

[2018-10-09 07:58] ebghrimtech commented on #138
Please check out the [Android official docs](https://developer.android.com/distribute/best-practices/develop/target-sdk#check_and_update_your_sdks_and_libraries). We just want to make sure that all the libraries support at least API level 26 and we are targeting API level 28. Please update as soon as possible.

[2018-10-10 13:08] kevinMartellotti commented on #129
For me the solution was to put the variable you want it to initialize to as the text programatically: `spinner.setText(yourVariable;` . Then add an onclick Listener to the spinner and match your variable to the spinner `spinner.setOnItemClickListener((parent, view1, position, id) -> yourVariable=yourArray[position]);`
Then if you wanna upload it to a a database, for example, use that variable as t

[2018-10-30 08:45] chim0380 commented on #122
same eroor

[2018-11-05 21:48] Deamon12 commented on #138
bump

[2018-11-07 23:30] y-a-n-n opened #139 "jitpack.io build broken"
Seems to be broken for all release tags:

https://jitpack.io/com/github/ganfra/MaterialSpinner/2.0.0/build.log

Managed to get it working in my fork by upgrading the gradle wrapper to version 4.6 and following the instructions here:

https://jitpack.io/docs/ANDROID/

[2018-11-18 22:01] Moravec-Jan opened #140 "Align label with underline."
This is example, what I want to do. Is it possible?
![android-textinputlayout-counter-example](https://user-images.githubusercontent.com/36644697/48678598-a965d100-eb85-11e8-9bc2-1081dc126de5.png)

[2018-11-19 00:18] Moravec-Jan commented on #140
I found that its duplicate with issue [#74](https://github.com/ganfra/MaterialSpinner/issues/74)

[2018-12-11 07:59] nikitamarysoloman opened #141 "how to give padding to the arrow"
how to give padding to the arrow rather than displaying it in right most corner i wish to add some spacing there after arrow

[2018-12-31 22:07] SwaXTech opened #142 "How to change title color?"
Using 'app:ms_baseColor="@android:color/white" '
the color of the bottom line is changed, but also the color of the pop up title is changed

app:ms_dropDownHintView not working for me

![image](https://user-images.githubusercontent.com/43499966/50568346-2c567b80-0d2f-11e9-9c03-ca5d1b0aadad.png)

![image](https://user-images.githubusercontent.com/43499966/50568347-38423d80-0d2f-11e9-947e-e9932828ae

[2019-01-07 10:43] rajshreetiwari commented on #134
@tiagago I had the similar issue, i tied using following code and it works properly, you can also try and check:-

In **drawSelector**() method, comment the Point code and use bitmap:-

   private void drawSelector(Canvas canvas, int posX, int posY) {
        if (isSelected || hasFocus()) {
            paint.setColor(highlightColor);
        } else {
            paint.setColor(isEnabled() ? arrowC

[2019-01-11 04:08] Qdafengzi commented on #123
@JorgeBazarte I have the same problem, two spinner , I use  the default view, when setSelectedIndex() to 0  it no use , can you help me ?

` private void initView() {
        ms_plant = (MaterialSpinner) findViewById(R.id.ms_plant);
        ms_line = (MaterialSpinner) findViewById(R.id.ms_line);
    }

    private void initData() {
        mDataBean = JSONObject.parseObject(Data.data, DataBean.cla

[2019-01-23 15:10] henriquecm commented on #122
I also have been getting this error for sometime.

[2019-01-31 10:15] billy9222 opened #143 "Animation"
Floating text doesn't animate when creating view programmatically, It doesn't animate floating label rather give a jerk. What is the thing that I am missing. I am attaching file please have a look.
Thank you
[mobizen_20190131_151037.zip](https://github.com/ganfra/MaterialSpinner/files/2816664/mobizen_20190131_151037.zip)

[2019-02-05 10:38] gigaga commented on #143
Same issue :(
Did u find a workaround?

[2019-02-05 14:38] gigaga commented on #107
@interwap Unable for me to add your dependency. It is not in maven repo or jcenter

[2019-02-05 14:52] interwap commented on #107
@gigaga its a Jitpack repo... Forgot to mention that...

[2019-02-05 15:07] gigaga commented on #107
What was changed?
Currently (from the initial lib), I am not able to change color of floating label when this is an error (I'd like to set the color to red)

[2019-02-06 07:02] interwap commented on #107
@gigaga I had issues with multidex on the other version when used with the [Material Stepper](https://github.com/stepstone-tech/android-material-stepper). library. So it wouldnt even let gradle build successfully. Hence the need to fix the conflict.

[2019-02-06 07:03] billy9222 commented on #143
I guess programmatically it doesn't animate because of some attribute set that are not being set. Instead of creating it in code, inflate the view via inflater.

[2019-02-06 07:14] gigaga commented on #143
@billy9222 ok. I use this programmatically like you. For my part, I fixed it directly in the code of MaterialSpinner class.

[2019-02-06 07:37] billy9222 commented on #143
How can you please share which part did you change in the class to make it work?

[2019-02-06 08:12] gigaga commented on #143
@billy9222, of course! In MaterialSpinner code

[code]

[2019-02-06 09:32] billy9222 commented on #143
@gigaga  thank you :)  This was really bothering from a very long time.

[2019-02-06 09:32] #143 closed

[2019-02-06 09:32] #131 closed

[2019-02-11 03:21] ShuaiXiu opened #144 "Gone"
If you hide it and then show it, the ListView can't slide.

[2019-02-14 14:30] fabrizziocht opened #145 "App crashes when I want to set error after rotating layout from fragment"
Hello, I'm using Viewmodel to get the errorstate after rotating the device but app crashes, it occurs only with this material spinner, using Edittext there is no problem. Here the error:
[code]

It only happens when I'm trying to set the error message again after rotating with this line:

[code]

[2019-02-14 14:43] fabrizziocht commented on #145
I found a workaround solution, using a delay works well:
[code]

[2019-03-14 09:44] amol-bhagwat opened #146 "How to change floating label color?"

[2019-03-14 09:50] amol-bhagwat opened #147 "How to change floating label color?"

[2019-03-14 09:50] #147 closed

[2019-03-15 13:32] ABhayBohra opened #148 "Remove arrow and underline"
I want to remove arrow and the underline. How to do that

[2019-03-18 06:59] RahathNavith commented on #146
hi, if you find the solution . please update.

[2019-03-25 12:29] abroresonaliyev opened #149 "how set disabled for spinner"
How I can disable spinner

I can't found next method
setEnabled(Boolean isEnabled)

[2019-04-22 04:32] andiwijayaid commented on #146
You can create new layout. For example, I named it **item_spinner**
[code]

Refrence the layout that you made to adapter
[code]

@RahathNavith @amol-bhagwat

[2019-06-11 05:05] kalesonali commented on #122
I am also facing same issue many times. on android os 8.1

[2019-06-12 17:38] uziassantosferreira opened #150 "Migrate to Kotlin and Android x"
What you think to migrate this library to Kotlin and use libraries AndroidX?

[2019-06-18 15:51] Chivorns commented on #146
Hi you can try to check this library: https://github.com/Chivorns/SmartMaterialSpinner.
Hope it can help what you need

[2019-06-18 15:52] Chivorns commented on #142
Hi you can try to check this library: https://github.com/Chivorns/SmartMaterialSpinner.
Hope it can help what you need

[2019-06-18 15:53] Chivorns commented on #141
Hi you can try to check this library: https://github.com/Chivorns/SmartMaterialSpinner.
Hope it can help what you need

[2019-06-18 15:54] Chivorns commented on #138
Hi you can try to check this library: https://github.com/Chivorns/SmartMaterialSpinner.
Hope it can help what you need

[2019-06-18 15:54] Chivorns commented on #136
Hi you can try to check this library: https://github.com/Chivorns/SmartMaterialSpinner.
Hope it can help what you need

[2019-06-18 15:54] Chivorns commented on #135
Hi you can try to check this library: https://github.com/Chivorns/SmartMaterialSpinner.
Hope it can help what you need

[2019-06-18 15:57] Chivorns commented on #110
Hi you can try to check this library: https://github.com/Chivorns/SmartMaterialSpinner.
Hope it can help what you need

[2019-06-20 03:03] Chivorns commented on #122
Hi you can try with this lib: https://github.com/Chivorns/SmartMaterialSpinner
The problem already fixed in this lib.
Good luck.

[2019-07-16 12:31] zakirpervez opened #151 "Only last item visible."
I am using kotlin as well as java

<fr.ganfra.materialspinner.MaterialSpinner
		android:id="@+id/spnPrimaryGrowthStage"
		android:layout_width="match_parent"
		android:layout_height="wrap_content"
		android:layout_marginTop="@dimen/dimen_8"
		app:layout_constraintEnd_toEndOf="parent"
		app:layout_constraintStart_toStartOf="parent"
		app:layout_constraintTop_toTopOf="parent"
		app:ms_baseColor="@co

[2019-08-06 12:19] novas1r1 commented on #122
Still having this issue

[2019-08-06 12:58] chim0380 commented on #122
This error can occur when setError() is called during a lifecycle Activity/Fragment , rather than a user action. For example if you call setError onStart, on Resume. Spinner can't draw and measure correctly. I solved this error by calling setError in handler.postDelayed()

[2019-08-13 07:50] Chivorns commented on #122
Hi @novas1r1 , have you tried https://github.com/Chivorns/SmartMaterialSpinner yet?

[2019-09-10 13:29] zhqi632 opened #152 "setSelection()"
setSelection 初始化选中值存在问题

[2019-09-16 14:24] apacha commented on #150
I would need this too, but it seems that this project has been abandoned and although there are >200 forks, I have no clue, which fork should be used instead.

[2019-09-16 15:08] apacha commented on #150
I found this fork, which has upgraded to AndroidX and works in my project: https://github.com/pstens/MaterialSpinner-1

[2019-09-19 16:06] barryjohncoronel commented on #89
How did you fixed the issue?

[2019-10-01 07:24] kumarravi2 commented on #148
Just these 3 lines will get the work done.

[code]

[2019-11-29 12:32] bktowett commented on #117
I did the following change and it worked for me
` @Override
    public int getSelectedItemPosition() {
        //return super.getSelectedItemPosition();
        return (hint != null ? super.getSelectedItemPosition() - 1 : super.getSelectedItemPosition());
    }

    public Object getSelectedItem() {
        return super.getItemAtPosition(getSelectedItemPosition());
    }`

[2020-02-20 07:54] kishanverma26 commented on #73
this one sort my problem thanks @amirdora

[2020-03-05 07:01] frared358 commented on #89
I am also facing this issues.. How did you fixed the issue..?
please help..

[2020-03-08 17:18] dierivera commented on #140
is this already fixed?

[2020-04-30 04:12] technyx-ali-rehman commented on #134
@rajshreetiwari I can't find this drawSelector() after extending the class from MaterialSpinner.

How can i use this method ?

[2020-04-30 04:14] technyx-ali-rehman commented on #134
@tiagago Did you find the solution to this?

[2020-10-31 03:28] #142 closed

[2021-02-16 12:18] varun514 opened #153 "Getting Fatal Exception: java.lang.NullPointerException"
Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String java.lang.Object.toString()' on a null object reference
       at android.widget.ArrayAdapter.createViewFromResource(ArrayAdapter.java:457)
       at android.widget.ArrayAdapter.getDropDownView(ArrayAdapter.java:505)
       at fr.ganfra.materialspinner.MaterialSpinner$HintAdapter.buildView(MaterialS

[2021-05-29 20:00] IamJeenu commented on #89
distributor.setOnClickListener(new View.OnClickListener() {
            @Override
            public void onClick(View v) {
                final String item= distributor.getText().toString().trim();
                Log.i(TAG, "MyClass.getView() — get item number " + ite
            }
        });

Use this : its working fine : if u facing same issue then u msg me  on this Instagram id  : @iamjeeva